.sectionTitle {
    font-family: "kiwi maru";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--color-gray-dark);
    border-left: 3px solid var(--color-gray-dark);
}

.block {
    border: 2px solid var(--color-gray-light);
    border-radius: 10px;
}

.vipCard {
    width: 336px;
    height: 210px;
    background-color: var(--color-gray-middle);
}

.memberButton {
    width: 96px;
    height: 66px;
}

.mobileList li {
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-gray-light);
}