@use '../../node_modules/bootstrap-icons/font/bootstrap-icons' as *;

@use './nav' as nav;
@use './base' as base;
@use './area1.scss' as area1;
@use './area2.scss' as area2;
@use './area3.scss' as area3;
@use './area4.scss' as area4;
@use './area5.scss' as area5;
@use './area7.scss' as area7;
@use './area8.scss' as area8;
@use './footer' as footer;
@import 'https://fonts.googleapis.com/css2?family=ABeeZee&display=swap';
@import 'https://fonts.googleapis.com/css2?family=ABeeZee&family=Inria+Sans&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap';