.profile-height {
  height: 748px;
}
.star-width {
  width: 24px;
}
.half-star-width {
  width: 12px;
}
.service-badge {
  min-height: 53px;
  width: 121px;
}
.gallery-img {
  aspect-ratio: 1.29;
  object-fit: contain;
}
