body {
    background-color: #F3F3F3;
  }

  .section-title {
    font-size: 36px;
    letter-spacing: 7.92px;
  }

  .title-line {
    width: 150px;
  }

  .dot-circle {
    width: 15px;
    height: 15px;
  }

  .filter-text {
    letter-spacing: 3.52px;
  }

  .dropdown-toggle-custom {
    font-family: 'Kiwi Maru';
    letter-spacing: 3.08px;
  }

  .card-body-bg {
    background-color: #F3F3F3;
  }

  .card-title-custom {
    font-family: 'Kiwi Maru';
    letter-spacing: 3.96px;
    color: #505050;
  }

  .card-text-custom {
    font-family: 'Inria Sans';
    letter-spacing: 4.4px;
  }

  .detail-link {
    font-family: 'Inria Sans';
    letter-spacing: 4.4px;
  }

  .rating-circle {
    width: 26.67px;
    height: 25px;
    background-color: #ED784A;
  }

  .random-btn {
    background-color: #ED784A;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Inria Sans';
    letter-spacing: 10.56px;
    padding: 12px 75px;
    border-radius: 5px;
  }